.information {
  display: none;
  position: absolute;
  width: 352px;
  min-height: 180px;
  left: 35px;
  top: -85px;
  z-index: 99;

  background: #ffffff;
  border-radius: 10px;
}

.information-open {
  display: block;
}

.information__title {
  font-family: "Montserrat-Medium", "OpenSans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 132%;
  color: #2B2D3A;

  margin: 0;
  width: 154px;
  margin-left: 24px;
  margin-top: 17px;
  position: relative;
}

.information__img {
  position: absolute;
  top: 10px;
  right: 28px;
}

.information__triangle {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 28px;
  height: 20px;
  background: #ffffff;
  border-radius: 2px;
  transform: rotate(135deg);
  z-index: -1;
}

.information__item {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  color: #2B2D3A;

  position: relative;
  padding-left: 48px;
  padding-bottom: 10px;

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    left: 24px;
    top: 0;
    border-radius: 50%;
    background: #397DFF;
    opacity: 0.15;
  }

  &::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    left: 29px;
    top: 5px;
    border-radius: 50%;

    background: #397DFF;
  }
}

.information__list {
  margin-top: 12px;
  margin-bottom: 5px;
}

.information__close {
  position: absolute;
  top: 15px;
  right: 15px;

  width: 12px;
  height: 12px;

  outline: none;

  font-size: 0;

  background-color: #ffffff;
  border: 0;

  cursor: pointer;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 5px;
    left: 0;

    width: 12px;
    height: 1px;

    background-color: #2B2D3A;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
