.modal {
  display: none;
  position: fixed;
  width: 538px;
  height: 407px;
  border-radius: 16px;
  padding-left: 42px;

  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);
  background: #ffffff;

  z-index: 7;
}

.modal--active {
  display: block;
}

.modal__title {
  font-family: "Montserrat-Medium", "OpenSans", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #2B2D3A;

  margin: 0;
  margin-top: 32px;
}

.modal__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #2B2D3A;

  margin-top: 12px;
}

.modal__checkbox {
  &+label::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    left: 43px;
    top: 250px;

    background: #EBEEF5;

    border: 1px solid #397DFF;
    box-sizing: border-box;
    border-radius: 3px;
    cursor: pointer;
  }

  &:checked+label::after {
    content: "";
    position: absolute;
    left: 46px;
    top: 254px;

    width: 10px;
    height: 7px;

    background-image: url("../img/Vector.svg");
    cursor: pointer;
  }
}

.modal__checkbox-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #2B2D3A;

  margin-left: 24px;
  margin-top: 32px;
  outline: none;
}

.modal__questions {
  margin-top: 28px;
}

.modal__button {
  width: 454px;
  height: 52px;
  background: #397DFF;
  margin-top: 16px;
}

.modal__question-area {
  width: 454px;
  height: 48px;

  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 9px;

  &::placeholder {
    font-family: "Montserrat-Medium", "OpenSans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;

    color: rgba(43, 45, 58, 0.5);

    padding-left: 15px;
  }
}

.modal__error-message {
  display: none;
  color: red;
}

.modal__error-message--active {
  display: block;
}

.modal__close {
  position: absolute;
  top: 15px;
  right: 15px;

  width: 18px;
  height: 18px;

  outline: none;

  font-size: 0;

  background-color: #ffffff;
  border: 0;

  cursor: pointer;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 10px;
    left: -10px;

    width: 24px;
    height: 2px;

    background-color: #2B2D3A;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
